<div>
  <form (ngSubmit)="save()" [formGroup]="trickForm" class="addForm">

    <div class="stripes-block">
      <div class="line"></div>
    </div>

    <h3>Edit trick</h3>

    <div class="addForm__inputGroup">
      <label>Trick name:
        <input formControlName="name" type="text"/></label>

      <div *ngIf="error" class="addForm__alert"><p>{{error}}</p></div>

      <label>Complexity:
        <input formControlName="complexity" type="number"/></label>
      <label>Description:
        <input formControlName="description" type="text"/></label>
    </div>

    <div class="addForm__submitBlock">
      <div class="addForm__submitButton">
        <button [disabled]="!trickForm.valid" type="submit">Submit</button>
      </div>
    </div>

  </form>

  <div>
    <p>Form Value: {{ trickForm.value | json }}</p>
    <p>Form Status: {{ trickForm.status }}</p>
  </div>

  <button (click)="goBack()">go back</button>
</div>
