@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background: #1f24c7 url('/assets/images/back2.jpg');
  background-size: 100%;
}

.progress {
  display: inline !important;
  background: none !important;
}

.mat-slider-horizontal {
  //height: 5px !important;
}
