<div class="container thread">
  <div *ngIf="thread && thread.trick && thread.user">
    <h3>{{ thread.user.nickname }} ask help with {{ thread.trick.name }}</h3>
  </div>

  <div>
    <ul *ngIf="users && thread && messages" class="thread__list">
      <li *ngFor="let message of messages" class="thread__item">
        <div class="row align-items-center">
          <div class="col">
            <span class="thread__name">{{ getUserByMessage(message) }}:</span><span>{{ message.body }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <form (ngSubmit)="send()" [formGroup]="messageForm">
    <div class="form-group">
      <label for="messageArea">Message:</label>
      <textarea class="form-control" formControlName="message" id="messageArea" rows="3"></textarea>
    </div>
    <div class="row justify-content-between">
      <div class="col">
        <button [disabled]="!messageForm.valid" class="btn btn-success" type="submit">Send</button>
      </div>
      <div *ngIf="thread" class="row thread__exitButton">
        <div class="col">
          <button (click)="closeThread()" *ngIf="currentUser === thread.user_id" class="btn btn-danger">Close thread
          </button>
          <button (click)="leaveThread()" *ngIf="currentUser !== thread.user_id" class="btn btn-danger">Leave thread
          </button>
        </div>
      </div>
    </div>

  </form>

</div>

