nav {
  color: white;
  a {
    font-size: 1.25rem;
    color: inherit;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  a:visited, a:link {
    color: inherit;
  }
  a:hover, a.active {
    color: gray;
  }
}

.content {
  padding-bottom: 90px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  font-size: 0.9rem;
  padding: 1.8em 0;
  background: #333;
  color: white;
  a {
    color: inherit;
    margin-right: 12px;
  }
}
