<div class="container-fluid header">
  <div class="row  align-items-center justify-content-between">
    <div class="col-lg-4">
    <h1 class="header__name">Snowboard Tricks</h1>
    </div>
    <div class="col-lg-4">
    <nav class="header__nav">
      <a [routerLink]="'/user'" class="btn btn-primary header__link" routerLinkActive="active">My page</a>
      <a [routerLink]="'/thread'" class="btn btn-primary header__link" routerLinkActive="active">My messages</a>
      <a [routerLink]="'/tricks'" class="btn btn-primary header__link" routerLinkActive="active">Tricks</a>
      <a [routerLink]="'/auth'" class="btn btn-primary header__link" routerLinkActive="active">Sign in</a>
    </nav>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
