
<section class="section homepage-search">
  <div class="search_window">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center frontpage-top__intro">
        <h1>
          The biggest collection of Snowboard Tricks on the web
        </h1>
        <span class="break"></span>
      </div>
      <div class="col-lg-7 text-center frontpage-navigation">
        <input type="text" class="search-input" placeholder="Search Trick">
        <br>
        <a class="btn">
          Search
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section homepage-new_threads">
  <div class="threads__title">
    <h3>News thread</h3>
  </div>
  <div class="container threads"> <!-- ThreadList component -->
      <div class="thread row justify-content-center frontpage-news__content"> <!-- Thread component -->
        <div class="col-lg-3 col-md-5">
          <div>
            <img class="img-fluid" src="https://placehold.it/280x180" alt="How to learn snowboard tricks safely – Snowboard Trick Tips for Beginners">
          </div>
        </div>
        <div class="col-lg-7 col-md-7">
          <a href="https://trickbible.com/how-to-learn-snowboard-tricks-safely/"><h3 class="blog-title mb-3">TODO Thread title</h3></a>
          <p>Thread text...</p>
          <a class="btn" href="#">Read more</a>
        </div>
      </div>
      <hr>
  </div>
</section>
