<div class="container">
  <div class="tricks">
    <div *ngFor="let trick of tricks" class="tricks__item">
      <a [routerLink]="['/tricks', 'list' ,trick.id]">
        <app-trick [trick]="trick"></app-trick>
      </a>
    </div>
    <div *ngIf="!tricks.length && !error" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="error" class="alert alert-danger">
      <span class="alert__text">{{ error.message }}</span>
    </div>
  </div>
</div>
