.tricks {

  &__item {
    display: inline-block;
  }

  &__alert {
    display: inline-block;
  }

  &__admin {
    margin-left: 1em;
  }

  &__btn {
    margin-right: 1em;
    display: inline-block;
  }

  a {
    text-decoration: none;
  }

  a:visited, a:link {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }
}
