<section class="section">
  <div class="container">
    <div>
      <div class="back">
        <button class="btn" (click)="goBack()">Return back</button>
      </div>
      <form (ngSubmit)="save()" [formGroup]="trickForm" class="addForm">
        <h3>Create new trick</h3>

        <div class="form-group">
          <label for="trickNameInput">Trick name:</label>
          <input id="trickNameInput" formControlName="name" type="text" class="form-control"/>
        </div>
          <div *ngIf="error" class="addForm__alert"><p>{{error}}</p></div>

        <div class="form-group">
          <label for="complexlyInput">Complexity:</label>
          <input id="complexlyInput" formControlName="complexity" type="number" class="form-control"/>
        </div>

        <div class="form-group">
          <label for="descriptionInput">Description:</label>
          <input id="descriptionInput" formControlName="description" type="text" class="form-control"/>
        </div>


        <div class="addForm__submitBlock">
          <div class="addForm__submitButton">
            <button [disabled]="!trickForm.valid" type="submit" class="btn">
              Submit
            </button>
          </div>
        </div>
      </form>

      <!-- Test form
      <div>
        <p>Form Value: {{ trickForm.value | json }}</p>
        <p>Form Status: {{ trickForm.status }}</p>
      </div>
      -->
    </div>
  </div>
</section>
