<div *ngIf="user" class="profile container">
  <div class="float-left profile__photo">
    <img alt="Avatar" class="img-thumbnail" src="https://avatars0.githubusercontent.com/u/42906431?s=460&v=4">
  </div>
  <div class="row">
    <div class="col-2 profile__nickname">
      <h2> {{ user.nickname }}</h2>
    </div>
  </div>
  <div class="row">
    <div *ngIf="rank" class="col-2 profile__level">
      <span>Level {{ rank.level }}</span>
      <span>exp: {{ rank.exp }}/{{ rank.nextExp}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2 profile__fullName">
      <p> Full name {{ user.fullName}} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 profile__email">
      <span>email: {{ user.email }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 profile__aboutMe">
      <p><span>About me</span><br>{{ user.description }}</p>
    </div>
  </div>

  <div *ngIf="tricks && user" class="profile__trick">
    <span>{{user.nickname}} can do:</span><br>
    <div class="row">
      <div *ngFor="let trick of tricks" class="profile__item">
        <a [routerLink]="['/tricks','user',user.id,'list',trick.id]" class=" btn btn-primary">
          <span>{{trick.name}}
            <span *ngIf="trick.UserTrick.videoKey"> with video! </span>
        </span>
        </a>
      </div>
    </div>
  </div>
</div>
