<p>user-page works!</p>
<div>

  <div *ngIf="user" class="profile">
    <div class="profile__photo">
      <img alt="Avatar" src="https://avatars0.githubusercontent.com/u/42906431?s=460&v=4">
    </div>
    <div *ngIf="rank" class="profile__level">
      <p><span>Level </span>{{ rank.level }}</p>
      <p><span>exp: </span>{{ rank.exp }}/{{ rank.nextExp}}</p>
    </div>
    <div class="profile__nickname">
      <p><span>Nickname </span>{{ user.nickname }}</p>
    </div>
    <div class="profile__fullName">
      <p>{{ user.fullName}}</p>
    </div>
    <div class="profile__email">
      <p><span>email: </span>{{ user.email }}</p>
    </div>
    <div class="profile__aboutMe">
      <p><span>About me</span><br>{{ user.description }}</p>
    </div>
  </div>

  <div *ngIf="tricks && user">
    <span>{{user.nickname}} can do:</span>
    <ul>
      <li *ngFor="let trick of tricks">
        <a [routerLink]="['/tricks','user',user.id,'list',trick.id]">
          <span>{{trick.name}}
          <span *ngIf="trick.UserTrick.videoKey">
            with video!
          </span>
        </span>
        </a>
      </li>
    </ul>
  </div>

</div>
