<div *ngIf="trick" class="trick">
  <div class="trick__name">
    <p>{{ trick.name }}</p>
  </div>
  <div class="trick__complexity">
    <p>Complexity:{{ trick.complexity }}</p>
  </div>
  <div class="trick__description">
    <p>{{ trick.description }}</p>
  </div>
  <ul>
    <li>
      <div *ngIf="!trick.UserTrick">
        <button (click)="addToFavorite()"  class="trick__btnAdd">Add to favorite</button>
      </div>
      <div *ngIf="trick.UserTrick">
        <button (click)="removeFromFavorite()" class="trick__btnRemove">Remove from favorite</button>
      </div>
    </li>
    <li *ngIf="trick.UserTrick">
      <div *ngIf="!trick.UserTrick.is_done">
        <button (click)="markAsDone(true)" class="trick__btnAdd">Mark as done</button>
      </div>
      <div *ngIf="trick.UserTrick.is_done">
        <button (click)="markAsDone(false)" class="trick__btnRemove">Unmark</button>
      </div>
    </li>

    <li *ngIf="trick.UserTrick && thread">
      <div>
        <button (click)="createThread()" class="trick__btnRemove">Create thread</button>
      </div>
    </li>
    <li>
      <button (click)="goBack()" class="trick__btnBack">go back</button>
    </li>
  </ul><span>{{thread}}</span>
</div>

