<div class="container-fluid header">
  <div class="row  align-items-center justify-content-between">
    <div class="col-lg-4">
      <h3 class="header__name">Tricks</h3>
    </div>
    <div class="col-lg-4">
      <nav class="header__nav">
        <a [routerLink]="'list'" class="btn btn-primary header__link" routerLinkActive="active">All tricks </a>
        <a [routerLink]="'list/myTricks'" class="btn btn-primary header__link" routerLinkActive="active"> My tricks </a>
        <a *ngIf="adminRole" [routerLink]="'list/addTrick'" class="btn btn-primary header__link" routerLinkActive="active"> Add new trick </a>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
