<div class="container auth">

  <div *ngIf="user" class=" row auth__status">
    <span>Current user is {{ user.nickname }}</span>
  </div>
  <div class="row">
    <div class="auth__btn">
      <button (click)="signAsUser(1)" class="btn btn-warning">Sing in as first user</button>
    </div>
    <div class="auth__btn">
      <button (click)="signAsUser(2)" class="btn btn-warning">Sing in as second user</button>
    </div>
    <div class="auth__btn">
      <button (click)="signAsAdmin()" class="btn btn-warning">Sing in as admin</button>
    </div>
  </div>
</div>
